#footer{
    .container{
        background-color: black;
      width: 1550px;;


    .footer-words{
      
        display: inline;
        flex-direction: column;
        margin: 0 auto;
        ul li{
            
            color: white;
            justify-content: center;

        }
    }
}}