#new-arrivals {
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 1550px;
    margin: 0 auto;
    
   
  }
}
#new-arrivals{
    .col-12 {
        margin: 10px;
        padding: 30px;
  
        
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 50px;
      }
      .btn{
        width: 100%;
        display: inline;
      }
}
.btn {
    display: inline;

    padding: 30px;
    .whitebtn
    {background-color: transparent;
      border: 1px solid black;
      padding: 12px;
      height: 44px;
      width: max-content;
      color: black;
      font-size: 16px;
      font-weight: 600;}
      :hover{
            background-color: black;
            color:white;
          }
      .blackbtn{
        background-color: black;
            border: none;
            padding: 12px;
            height: 44px;
            width: max-content;
            color: white;
            font-size: 16px;
            font-weight: 600;
            margin-right: 5px;
            cursor: pointer;
      }

  }


@media (max-width: 992px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .col-3 {
        width: 100%; 
    }
}

@media (max-width: 768px) {
    .btn button {
        padding: 8px 16px;
    }

    .col-3 {
        padding: 10px;
    }
}